<!-- contient Profile du bebe et bouton book -->
<!-- vu du point de vue de utilisateur -->
<h1><%= @baby.first_name %>'s Profil</h1>
<h4><%= @baby.date_of_birth %></h4>
<h4><%= @baby.category %></h4>
<h4><%= @baby.bio %></h4>
<p>Find me in app/views/babies/show.html.erb</p>
